.commentEditForm {
    width: 100%;
}

.commentEditForm form {
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid rgb(194, 194, 196);
    background-color: rgb(226, 225, 217);
}

.commentEditForm form textarea {
    width: 90%;
    height: 100px;
}

.commentEditForm form input {
    padding: 10px;
    margin: 5px;
    border: 0px solid rgb(20, 20, 37);
    border-bottom: 2px solid rgb(20, 20, 37);
    width: 70%;
}

.commentEditForm form button {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(20, 20, 37);
    border-radius: 5px;
    width: 75%;
    background-color: rgb(151, 168, 177);
}

.commentEditForm form button:hover {
    background-color: rgb(179, 190, 194);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .commentEditForm form {
        margin: 10px 5%;
    }
  }

  @media only screen and (max-width: 400px) {
    .commentEditForm form {
        margin: 10px 0%;
    }
    
    .commentEditForm form input {
        width: 80%;
    }
  }